
<div align="center">
<h1>StaticPages#page4</h1>

<div class="sumCalc">
  <form id="calc">
    <label>First Num</label><br>
    <input type="text" id="num1"><br>
    <label>Second Num</label><br>
    <input type="text" id="num2"><br>
    <p> </p><br>
    <input type="submit" value="Sum"><br>
  </form>
  <p>The sum is: <span id="summ" class="summ"></span></p>
</div>
</div>

<script type="text/javascript" src="page4.js"></script>
